@model AdvertBoard.Models.Advert.AddAdvertViewModel
@{
    ViewBag.Title = "AddAdvert";
}

<h2>AddAdvert</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        <div>
            <strong>Name of advert: </strong>
            @Html.EditorFor(advert => advert.Title, new { htmlAttributes = new { @class = "form-control advertInput" } })
            @Html.ValidationMessageFor(advert => advert.Title, "", new {@class = "text-danger"})
        </div>
        <div>
            <strong>Categories: </strong>
            @Html.DropDownListFor(x =>x.CategoryId, new SelectList(@Model.Categories, "Id", "Name"), new { @class = "form-control advertInput" } )
        </div>
        <div>
            <strong>Description: </strong>
            @Html.TextAreaFor(advert => advert.Details, new { @class = "form-control advertDescriptionTextarea" })
            @Html.ValidationMessageFor(advert => advert.Details, "", new {@class = "text-danger"})
        </div>
    </div>
    <input type="submit" class="btn btn-success advertButton" value="Add"/>
    <a href="@Url.Action("GetUserAdverts", "Advert")">cancel</a>
}