@model AdvertBoard.Models.Advert.GetDetailedAdvertViewModel
@{
    ViewBag.Title = "ShowDetails";
}

<h2>ShowDetails</h2>

<div>
    @Html.LabelFor(x => x.Title)
    @Html.DisplayFor(x => x.Title)
</div>

<div>
    @Html.LabelFor(x => x.Category)
    @Html.DisplayFor(x => x.Category.Name)
</div>

<div>
    @Html.LabelFor(x => x.Details)
    @Html.DisplayFor(x => x.Details)
</div>

<div>
    @Html.LabelFor(x => x.DateOfCreation)
    @Html.DisplayFor(x => x.DateOfCreation)
</div>

<div>
    @Html.LabelFor(x => x.DateOfLastModification)
    @Html.DisplayFor(x => x.DateOfLastModification)
</div>
<div>
    @Html.LabelFor(x => x.Owner)
    @Html.DisplayFor(x => x.Owner.Email)
</div>