@model AdvertBoard.Models.Advert.GetDetailedAdvertViewModel
@{
    ViewBag.Title = "ShowDetails";
}

<div class="form-group">
    <div class="col-md-10 col-md-offset-2">
        <p class="advertDetailsTitle">@Model.Title</p>
    </div>

    <div>
        <p>
            <strong>Category name:</strong> @Html.DisplayFor(x => x.Category.Name)
        </p>
    </div>

    <div>
        <p>
            <strong>Date of creation: </strong> @Html.DisplayFor(x => x.DateOfCreation)
        </p>
    </div>

    <div>
        <p>
            <strong>Date of last modification: </strong> @Html.DisplayFor(x => x.DateOfLastModification)
        </p>
    </div>

    <div>
        <p>
            <strong>Email address:</strong> @Html.DisplayFor(x => x.Owner.Email)
        </p>
    </div>

    <div>
        <p>
            <strong>Owner:</strong>
            @Html.DisplayFor(x => x.Owner.FirstName)
            @Html.DisplayFor(x => x.Owner.LastName)
        </p>
    </div>

    <div>
        @Html.DisplayFor(x => x.Details)
    </div>
</div>