@model AdvertBoard.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<div class="col-md-8 col-md-offset-4">
    <h2>@ViewBag.Title</h2>
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "registerForm" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">

            <div>
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})
            </div>

            <div>
                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
            </div>

            <div>
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new {@class = "text-danger"})
                <p class="text-danger">@ViewBag.RegisterError</p>
            </div>
            <div>
                <input type="submit" class="btn btn-success accountButton" value="Register"/>
            </div>

            @Html.ActionLink("Or log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
